<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Umbra"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.PinterestAdKiller">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Umbra: Pinterest AdBlock &amp; Gboard Enhancer" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GboardActivity"
            android:exported="false"
            android:label="Gboard Settings"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>
